*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

body {
    margin: 0; 
    font-family: system-ui, sans-serif;
    display: grid; 
    place-content: center;
    height: 100vh; 
    padding: 36px; 
}

#chat {
    
    display: grid;
    grid-template-rows: 1fr auto; 
    width: 350px;
    height: 400px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

#messages {
    margin: 0;
    padding: 16px;
    overflow-y: scroll; 
    grid-row: 1 / 2;
    scroll-behavior: smooth;
    padding-bottom: 48px;
    height: 300px; 
    max-height: 300px; 
}

#messages > li {
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
}

#messages > li:nth-child(odd) {
    background: #858bbe;
}

#form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px; 
    padding: 8px;  
    grid-row: 2 / 3; 
    background-color: #f1f1f1;
}

#input {
    grid-column: 1 / 2; 
    border-radius: 9999px;
    border: 1px solid #eee;
    padding: 0 8px;
}

#form > button {
    grid-column: 2 / 3;
    background: #09f;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 0 16px;
}
